@import "../stylus/mixins.styl"
.home
  width: 100%
  background-color: #eee;
  padding-bottom (49*2/$rem)
  overflow hidden
  .home-top
    width: 100%
    position absolute
    top: 0
    left: 0
    z-index 10
    background-color: #fff;
    .logo-search
      box-sizing border-box
      height: (88/$rem)
      padding (16/$rem) (32/$rem)
      display flex
      align-items center
      .logo
        width (69*2/$rem)
        height: (40/$rem)
        margin-right (20/$rem)
        background-image url("//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/indexLogo-11d65342f9.png")
        background-size 100%
        background-repeat no-repeat
      .search
        width: (266*2/$rem)
        height: (56/$rem)
        display flex
        justify-content center
        align-items center
        background-color: #eee;
        border-radius (10/$rem)
        .search-icon
          width: (28/$rem)
          height: (28/$rem)
          display inline-block
          vertical-align middle
          background-image url("//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/search2-2fb94833aa.png")
          background-size 100%
          background-repeat no-repeat
        .search-placeholder
          width: (158.65*2/$rem)
          height: (41/$rem)
          font-size (28/$rem)
          color #333
    .top-nav-warp
      height: (60/$rem)
      background-color: #fff;
      width 100%
      box-sizing border-box
      .top-nav
        display flex
        width (795.735*2/$rem)
        justify-content space-around
        .nav-item
          &.active
            bottom-border-1px(rgb(192, 74, 78))
            color rgb(192, 74, 78)
          font-size (28/$rem)
          padding 0 (20/$rem)
          text-align center
          line-height (60/$rem)


  .gift
    width (120/$rem)
    height (80/$rem)
    background-image url("../image/gift.png")
    background-size 100%
    position fixed
    right: 0
    bottom (250/$rem)
  .to-top
    display block
    width (82/$rem)
    height (82/$rem)
    background-image url("../image/toTop.png")
    background-size 100%
    position fixed
    right: (40/$rem)
    bottom (125/$rem)
  .mask
    width: 100%
    height: 100%
    position fixed;
    top: 0
    left: 0
    z-index 100
    background-color: rgba(0,0,0,0.6);
    .close
      position absolute
      display block
      top (60/$rem)
      right: (30/$rem);
      width (31.98*2/$rem)
      height: (31.98*2/$rem);
    .mask-wrapper
      position absolute
      width: (315*2/$rem);
      height: (346*2/$rem);
      top: 0
      right: 0
      left: 0
      bottom: 0
      margin auto
      box-sizing border-box
      padding (30/$rem) (20/$rem)
      border-radius (20/$rem)
      background-color: #fff;
      .mask-content
        width 100%
        height: 100%
        .content-title
          width: 100%;
          height (29*2/$rem)
          display flex
          justify-content center
          align-items center
          .title-line
            width: 8%
            height: (2*2/$rem);
            background-color: #000;
          .title-text
            font-size (40/$rem)
            font-weight bold
            margin 0 (20/$rem)
        .content-subTitle
          font-size (28/$rem)
          >span
            display inline-block
            color #7e8c8d
            margin-top (5/$rem)
            transform scale(.9)
        .content-img-info
          display flex
          margin-top (40/$rem)
          .content-img
            display block
            width (115.98*2/$rem)
            height: (115.98*2/$rem);
          .content-info
            display flex
            flex-direction column
            justify-content center
            background-color: #eee;
            padding-left (10/$rem)
            width 100%
            .info-title
              font-size (28/$rem)
            .info-desc
              margin-top: (10/$rem);
              box-sizing border-box
              width: (154*2/$rem);
              height: (29*2/$rem);
              padding 0 (10/$rem)
              font-size (45/$rem)
              line-height (29*2/$rem)
              text-align center
              border (2/$rem) solid #aaa
            .info-price
              display flex
              margin-top: (20/$rem);
              .price-new
                color: rgb(180, 40, 45);
                margin-right: (10/$rem);
              .price-old
                color #7e8c8d
                text-decoration line-through
        .content-favourable
          width 100%
          text-align center
          >span
            display inline-block
            text-align center
            background: rgb(180, 40, 45)
            width 100%
            border-radius (5/$rem)
            height: (43.98*2/$rem);
            color white
            line-height (43.98*2/$rem)
            font-size (28/$rem)
            margin-top: (40/$rem);
        .content-to-more
          box-sizing border-box
          border (2/$rem) solid
          border-radius (5/$rem)
          height: (43.98*2/$rem);
          color #7e8c8d
          line-height (43.98*2/$rem)
          text-align center
          font-size (28/$rem)
          margin-top (40/$rem)
