@import "../stylus/mixins.styl"
.interlayer
  position relative
  z-index 100
  width: 100%
  height: (667*2/$rem);
  background-color: rgb(227, 227, 226);
  .img1
    width: 100%;
    display block
  .img2
    width 100%
    display block
  .to
    position relative
    .img3
      width: 100%
      display block;
    .download-app
      position absolute
      width: (216*2/$rem);
      height (49*2/$rem)
      top: (48*2/$rem)
      left: (160/$rem);
    .continue
      position absolute
      width: (127*2/$rem);
      height: (15*2/$rem);
      top: (115*2/$rem)
      left: (250/$rem);
