@import "../stylus/mixins.styl"
.item-router
  width 100%
  height (500*2/$rem)
  .item-router-container
    width 100%
    .header-img
      width 100%
      height: (192/$rem)
      display block
      margin-bottom: (30/$rem);
    .router-list
      width 100%
      display flex
      flex-wrap wrap
      justify-content space-between
      .router-item
        width (144/$rem)
        height (216/$rem)
        display flex
        flex-direction column
        justify-items center
        .router-item-img
          width (144/$rem)
          height: (144/$rem);
          border-radius 50%
        .router-item-text
          font-size (24/$rem)
          text-align center
          line-height (72/2/$rem)
